
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
FindMe/.idea/gradle.xml
FindMe/.idea/misc.xml
FindMe/app/app.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/misc.xml
.idea/McGillHackaton.iml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/.name
